<h1>Hello World!</h1>
<div class="bg-success">Angular is awesome!</div>
<hinv-rooms></hinv-rooms>
<!-- 
<div class="container" [ngSwitch]="role">
  <div class="row" *ngSwitchCase="'User'">
    <div class="col-md-12">The login user roles is: USER</div>
  </div>
  <div class="row" *ngSwitchCase="'Admin'">
    <div class="col-md-12">The login user roles is: <b>ADMIN</b></div>
    <hinv-rooms></hinv-rooms>
  </div>
  <div class="row" *ngSwitchDefault>
    <div class="col-md-12">Please login first!</div>
  </div>
</div> -->
